body,
ul,
form,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial;
}

ul {
  list-style: none;
}

img {
  border: 0px;
}

.clear {
  clear: both;
  font-size: 0px;
  height: 0px;
  line-height: 0px;
  visibility: hidden;
}

.orange2 {
  color: #ff8a00;
}

.purple {
  color: #6857ca;
}

body,
td,
th {
  font-size: 12px;
}

.wrap_datachart {
  margin: 10px 0;
  width: 1000px;
  font-family: "ËÎÌå";
}

.wrap_datachart table {
  border-collapse: separate;
  border-spacing: 1px;
}

.zs_table td {
  text-align: center;
  height: 18px;
  font-family: "ËÎÌå";
}

.zs_table tr strong {
  font-weight: bold;
}

.tubiao_box_t td {
  line-height: 38px;
}

.d_nav01 {
  height: 32px;
}

.d_nav01_w {
  height: 32px;
}

.d_nav01 .bt01 {
  float: left;
  margin: 0 10px;
  font-size: 14px;
  color: #feff01;
  font-weight: bold;
  text-indent: 33px;
  padding-top: 10px;
}

.d_nav01 h1 {
  float: left;
  width: 68px;
  height: 28px;
  margin-top: 4px;
  text-align: center;
  color: #004d81;
  font-weight: bold;
  line-height: 28px;
  font-size: 12px;
}

.d_nav01 h1 a:link,
.d_nav01 h1 a:visited {
  color: #004d81;
  text-decoration: none;
}

.d_nav01 h2 {
  float: left;
  width: 68px;
  height: 28px;
  margin-top: 4px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  line-height: 28px;
  font-size: 12px;
}

.d_nav01 .d_nav01_h2 {
  width: 90px;
}

.d_nav01 h2 a:link,
.d_nav01 h2 a:visited {
  color: #ffffff;
  text-decoration: none;
}

.d_nav02 {
  background-color: #f6fafe;
  border-bottom: #c0dcf8 1px solid;
  padding: 10px 5px;
  min-width: 980px;
}

.d_nav02_box01 {
  width: 965px;
  background: #fff;
  padding: 5px 12px;
}

.d_nav02_box01 .f_left {
  float: left;
  width: 75px;
  line-height: 18px;
  padding-left: 12px;
  color: #004d81;
  font-weight: bold;
}

.f_left2b {
  float: left;
  margin-right: 30px;
  line-height: 18px;
  padding-left: 12px;
  color: #004d81;
  font-weight: bold;
  cursor: pointer;
}

.f_left2a {
  float: left;
  margin-right: 30px;
  line-height: 18px;
  padding-left: 12px;
  color: #990000;
  font-weight: bold;
  cursor: pointer;
}

.d_nav02_box01 .f_right a.link_b:link,
.d_nav02_box01 .f_right a.link_b:visited {
  color: #f00;
  font-weight: bold;
}

.d_nav02_box01 .f_right {
  line-height: 18px;
  color: #004d81;
}

.d_nav02_box01 .f_right a:link,
.d_nav02_box01 .f_right a:visited {
  color: #004d81;
  text-decoration: none;
}

.d_nav02_box01 .f_right a:hover {
  color: #ff9900;
  text-decoration: underline;
}

.tubiao_box {
  border: #cbcbcb 1px solid;
  height: 100%;
  margin-bottom: 10px;
}

.tubiao_box_t {
  height: 38px;
  line-height: 38px;
  padding: 0px 15px;
}

.tubiao_box_t .font_01 {
  color: #555555;
  font-weight: normal;
}

.tubiao_box_t .span_left {
  float: left;
  font-size: 14px;
  font-weight: bold;
}

.tubiao_box_t .span_left a {
  font-size: 12px;
  font-weight: normal;
}

.tubiao_box_t .span_font {
  font-size: 12px;
  font-weight: normal;
}

.tubiao_box_t .span_right {
  float: left;
  font-size: 12px;
  font-weight: normal;
  padding-left: 100px;
  _padding-top: 6px;
}

.tubiao_box_search {
  height: 29px;
  border-bottom: #cbcbcb 1px solid;
  padding: 6px 15px 0px 15px;
}

.input_line01 {
  border: #7f9db9 1px solid;
  width: 45px;
  height: 20px;
  padding: 0px;
  line-height: 20px;
  text-align: center;
}

.input_line02 {
  border: #7f9db9 1px solid;
  width: 63px;
  height: 20px;
  padding: 0px;
  line-height: 20px;
  text-align: center;
}

.chart_table {
  background: #ccc;
  margin-top: 10px;
}

.chart_table tr {
  background: #fff;
}

.chart_table th {
}

.chart_table td,
.chart_table th {
  padding: 5px;
}

.tubiao_box_t span#notice {
  font-size: 12px;
  color: red;
  font-weight: normal;
}

.table_list001 {
  color: #464646;
  background-color: #b0d0e5;
}

.table_list001 tr {
  border-left: #fff 1px solid;
  border-top: #fff 1px solid;
  text-align: center;
  background: #ffffff;
}

.table_list001 .p_l5 {
  padding-left: 5px;
}

.table_list001 .td_title01 {
  background-color: #d2e7f8;
  text-align: center;
  color: #000099;
}

.table_list001 .td_title02 {
  background-color: #e4f1fb;
  text-align: center;
  color: #000099;
}

.table_list001 .td_title03 {
  height: 22px;
  padding: 3px 10px 0px 10px;
  color: #666666;
  font-weight: bold;
  text-align: left;
}

.table_list001 .bg_01 {
  background-color: #ffffff;
}

.table_list001 .bg_02 td {
  background-color: #f6fafe;
}

.table_list001 .bg_03 {
  background-color: #f1f1f1;
}

.table_list001 .text_left {
  text-align: left;
}

.table_list001 .td_nr01 {
  text-align: left;
}

.table_list001 .tr_no1 td {
  background-color: #cbe3f4;
}

.table_list001 .tr_no2 td {
  background-color: #d4e8f6;
}

.table_list001 .tr_no3 td {
  background-color: #ddedf8;
}

.table_list001 .tr_no4 td {
  background-color: #e5f1fa;
}

.table_list001 .tr_no5 td {
  background-color: #eef6fc;
}

.table_list001 .table_lm01 td {
  background: transparent;
  border: 0px;
}

/*Êý¾ÝÍ¼±íÄÚÒ³Ìí¼ÓÊÖ»úÐû´«Èë¿Ú*/
.clear_fix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.send_to_phone {
  position: absolute;
  left: 600px;
  top: 90px;
  width: 325px;
  overflow: hidden;
  float: none;
  z-index: 999;
}

.send_to_phone h3 {
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  font-size: 15px;
  color: #666;
}

.send_to_phone input {
  height: 30px;
  width: 196px;
  line-height: 30px;
  outline: none;
  padding-left: 2px;
  float: left;
  border: none;
}

.send_to_phone input a {
  float: right;
}

.send_to_phone p {
  height: 25px;
  line-height: 25px;
  color: #666666;
}

.send_to_phone p strong {
  font-weight: bold;
  color: #000;
}

.send_to_phone p a {
  display: inline-block;
  clear: both;
  margin-right: 15px;
  color: #0f3f94;
  text-decoration: none;
}

.chartIntro {
  background: #f5f5f5;
  padding: 10px;
  line-height: 22px;
  margin-top: 10px;
}

.chartIntro a:link,
.chartIntro a:visited {
  color: #f00;
  font-weight: bold;
}

.chartIntro .intro_left {
  float: left;
  width: 75%;
}

.chartIntro .intro_right a {
  display: block;
  width: 193px;
  height: 45px;
}

.ssq_ad {
  float: right;
  text-indent: -9999px;
}

/*
.ssq_ad_m {float:right; background:url(../new/yuxuan1.gif) no-repeat; text-indent:-9999px;}
*/
.dlt_ad a,
.dlt_ad span,
.eexw_ad a,
.eexw_ad span,
.ejxq_ad a,
.ejxq_ad span,
.slxq_ad a,
.slxq_ad span,
.qlc_ad a,
.qlc_ad span,
.dlt_ad a,
.dlt_ad span,
.ssl_ad a,
.ssl_ad span,
.plw_ad a,
.plw_ad span,
.ssq_ad a,
.ssq_ad span,
.pls_ad a,
.pls_ad span,
.sd_ad a,
.sd_ad span {
  display: block;
  width: 193px;
  height: 45px;
}

.dlt_ad {
  float: right;
  text-indent: -9999px;
}

.qlc_ad {
  float: right;
  text-indent: -9999px;
}

.ssl_ad {
  float: right;
  text-indent: -9999px;
}

.pls_ad {
  float: right;
  text-indent: -9999px;
}

.plw_ad {
  float: right;
  text-indent: -9999px;
}

.qxc_ad {
  float: right;
  text-indent: -9999px;
}

.eexw_ad {
  float: right;
  text-indent: -9999px;
}

.ejxq_ad {
  float: right;
  text-indent: -9999px;
}

.slxq_ad {
  float: right;
  text-indent: -9999px;
}

.sd_ad {
  float: right;
  text-indent: -9999px;
}

.charnav {
  margin-bottom: 10px;
  background: #f5f5f5;
  text-align: center;
  line-height: 25px;
}

.chartPage {
  margin: 7px 0;
  background: #f5f5f5;
  text-align: center;
  line-height: 25px;
}

.paix_1 {
  background: #65b9fe;
  cursor: pointer;
  color: #000099;
  padding-right: 10px;
}

.paix_2 {
  background: #65b9fe;
  cursor: pointer;
  color: #000099;
  padding-right: 10px;
}

.latest {
  float: left;
  padding: 5px 10px;
  border: solid #a0cceb 1px;
}

.latest a:link,
.latest a:visited {
  font-size: 12px;
  font-weight: normal;
  color: #21366d;
  text-decoration: underline;
  padding-left: 10px;
}

.latest a:hover {
  color: #f00;
}

.latest .latest2 {
  float: left;
}

.latest .latest2 a:link,
.latest .latest2 a:visited {
  font-size: 14px;
}

.latest .latest_roll {
  float: left;
  margin-left: 20px;
  padding-left: 20px;
  border-left: dashed #a3a6da 1px;
  overflow: hidden;
  height: 38px;
  margin-top: 8px;
}

.latest .latest_roll a:link,
.latest .latest_roll a:visited {
  text-decoration: none;
  line-height: 19px;
}

.latest,
.intro_right {
  display: none;
}/* init hide info */


.zs_table {
  background: #fff;
  font-family: Arial;
  color: #464646;
}

.zs_table td {
  text-align: center;
  height: 18px;
  font-family: "ËÎÌå";
}

.zs_table tr {
  background: #f3f2f2;
}

.wx_bg1 {
  background: #ffff00;
  color: #000;
}

.wx_bg2 {
  background: #009900;
  color: #fff;
}

.wx_bg3 {
  background: #0099ff;
  color: #fff;
}

.wx_bg4 {
  background: #996600;
  color: #fff;
}

.wx_bg5 {
  background: #ff0000;
  color: #fff;
}

.title_red {
  font-size: 20px;
  font-family: "ºÚÌå";
  color: #ff0000;
}

.title_blue {
  font-size: 20px;
  font-family: "ºÚÌå";
  color: #256de1;
}

.line_r_1 {
  border-right: #ccc solid 2px;
}

.line_t_1 {
  border-top: #ccc solid 2px;
}

.line_b_1 {
  border-top: #ccc solid 2px;
}

.line_b_2 {
  border-top: #979797 solid 2px;
}

.line_b_3 {
  border-right: #979797 solid 2px;
}

.line_2 {
  background: #dceffe;
}

.cRed {
  color: #ff0000;
}

.cBlue {
  color: #0000ff;
}

.cOrange {
  color: #ff6600;
}

.cGreen {
  color: #009900;
}

.yl01 {
  color: #d2b0b0;
}

.yl02 {
  color: #8ed9fc;
}

.yl03 {
  color: #b82e2e;
}

.yl04 {
  color: #ccc;
}

.yl05 {
  background: #eff7fe;
  color: #aed2fd;
}

.yl06 {
  color: #aad5d7;
}

.yl07 {
  color: #fcafaf;
}

.yl08 {
  color: #bbc6e5;
}

.yl09 {
  color: #4fdf8f;
}

.yl10 {
  color: #c6c6c6;
}

.yl11 {
  color: #ff97ff;
}

.yl12 {
  color: #d2ac77;
}

.ylbg {
  background: #fdeacc;
}

.cjin {
  color: #f39700;
}

.wx_bg6 {
  background: #f39700;
  color: #fff;
}

.cmu {
  color: #009944;
}

.wx_bg7 {
  background: #009944;
  color: #fff;
}

.cshui {
  color: #00a0e9;
}

.wx_bg8 {
  background: #00a0e9;
  color: #fff;
}

.chuo {
  color: #ff0000;
}

.ctu {
  color: #81511c;
}

.wx_bg9 {
  background: #81511c;
  color: #fff;
}

.cbg1 {
  background: #eff7fe;
  color: #2788fa;
}

.cbg2 {
  background: #f5ffe7;
  color: #8a8a36;
}

.cbg3 {
  background: #ffefd9;
  color: #b82e2e;
}

.cbg4 {
  background: #fdd2c6;
  color: #996600;
}

.cbg5 {
  background: #c6d2dd;
  color: #000;
}

.cbg6 {
  background: #c6d2dd;
  color: #0000ff;
}

.cbg7 {
  background: #c6d2dd;
  color: #ff0000;
}

.cbg8 {
  background: #fdeacc;
}

.cbg9 {
  background: #6a3905;
  color: #fff;
}

.cbg10 {
  background: #eff7fe;
  color: #499495;
}

.cbg11 {
  color: #bd5151;
}

.cbg12 {
  background: #eff7fe;
  color: #aed2fd;
}

.tdbck td {
  height: 3px;
  background: #dbdbdb;
}

.gray {
  background: #f3f2f2;
  color: #d2b0b0;
}

.gray2 {
  background: #f3f2f2 ;
  color: #8ed9fc;
}

.warp .chartBall01 {
  background: #f3f2f2 ;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall02 {
  background: #f3f2f2;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall04 {
  background: #f3f2f2;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall05 {
  background: #f3f2f2r;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall03 {
  background: #f3f2f2 ;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall06 {
  background: #f3f2f2;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall07 {
  background: #b19595;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall08 {
  background: #f3f2f2;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall09 {
  background: #f3f2f2;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall10 {
  background: #f3f2f2;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall11 {
  background: #f3f2f2;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall12 {
  background: #f3f2f2;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall13 {
  background: #f3f2f2;
  color: #fff;
  font-weight: bold;
}

.warp .chartBall14 {
  display: inline-block;
  width: 20px;
  height: 20px;
  font: 12px/20px;
  color: #fff;
  text-align: center;
}


/*ÐÐÁÐÍ¼*/
.d_table_hlt01 {
  border-collapse: collapse;
  background-color: #f9f9f9;
}

.d_table_hlt01 .td_title01 {
  height: 22px;
  text-align: center;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.d_table_hlt01 .td_01 {
  width: 22px;
  height: 22px;
  text-align: center;
  color: #333333;
}

.d_table_hlt01 .td_02 {
  background-color: #ccffcc;
}

.d_table_hlt01 .td_03 {
  background-color: #ccffcc;
  color: #c81527;
}

.smallball {
  position: absolute;
  top: -6px;
  left: 17px;
  *left: 9px;
  width: 12px;
  height: 12px;
  font-size: 10px;
}

/* Í¼±íÑùÊ½ */
#tablelist {
  color: #000;
}

#tablelist td {
  border-left: #fff 1px solid;
  border-top: #fff 1px solid;
  text-align: center;
}

#tablelist td.td_title1 {
  background-color: #dcebfb;
  color: #000;
  padding: 5px;
}

#tablelist td.td_title2 {
  background-color: #f6fafe;
  color: #000;
  padding: 3px;
}

#tablelist tr.tr_content1 {
  background-color: #f8e8c8;
}

.t_tr1 {
  background: #f9f9f9;
}

.t_tr2 {
  background: #f0f0f0;
}

.t_cfont1 {
  color: #ff0000;
  font-weight: bold;
}

.t_cfont2 {
  color: #ff0000;
}

.t_cfont3 {
  color: #0066cc;
}

.t_cfont4 {
  color: #0000ff;
}

.t_cfont5 {
  color: #cccccc;
}

.t_tdb1 {
  background: #f0f8ff;
}

.t_tdb2 {
  background: #fdfee0;
}

.dot_paixu1 {
  cursor: pointer;
}

.dot_paixu2 {
  cursor: pointer;
}

.cs_sm {
  border: 1px dashed #cccccc;
  margin: 10px 0;
  padding: 10px 35px 10px 35px;
}

.cs_sm h1 {
  font-size: 14px;
  font-weight: bold;
  color: #349dd8;
  line-height: 25px;
  text-indent: 22px;
}

.cs_sm p {
  line-height: 18px;
  text-indent: 25px;
  color: #5f5f5f;
}

.red {
  color: #ff0000;
}

.zs_td2 {
  color: #0099ff;
  background-color: #eaf7ff;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  text-align: center;
  line-height: 21px;
}

.zs_td3 {
  color: #ff9900;
  background-color: #ffeed5;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  text-align: center;
  line-height: 21px;
}

.zs_td4 {
  color: #9900ff;
  background-color: #f3e0ff;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  text-align: center;
  line-height: 21px;
}

.zs_td5 {
  color: #006600;
  background-color: #e0ffe0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  text-align: center;
  line-height: 21px;
}

.rline {
  border-right: 5px #ccc solid;
}

.rline2 {
  border-right: 2px #ccc solid;
}

.bline {
  border-bottom: 2px #ccc solid;
}

.wdh {
  width: 18px;
}

.thbg01 td {
  height: 20px;
}

.thbg01 .td_bg {
  background: #f3f2f2;
}

.thbg01 .td_bg2 {
  background: #ccc;
}

.cfont_small {
  font-size: 7px;
  font-family: Verdana;
  -webkit-transform: scale(0.7);
  -o-transform: scale(1);
}

.text-size {
  font-size: 8px;
  font-family: Verdana;
}

.zs_table .td_bg001 {
  background: #ccc;
  width: 2px;
}

.zs_table .td_bg002 {
  border-top: dotted #52a7dd 2px;
}

.zs_table .td_bg003 {
  border-left: dotted #52a7dd 2px;
}

.zs_table .td_bg004 {
  border-right: dotted #52a7dd 2px;
}

.table_bg0 {
  border-bottom: dotted #52a7dd 2px;
  background-color: #f3f2f2;
}

.zs_table .td_bg005 {
  background: #f6f6f6;
}

.zs_table .td_bg006 {
  background: #fbeddb;
}

.zs_table .molifont {
  color: #003c80;
}

.zs_table .slectcout {
  text-align: left;
  padding-left: 150px;
  line-height: 20px;
}

.zs_table .slectpad {
  padding-left: 60px;
}

.zs_table td.bg02 {
  background: #d4d4d4;
  color: black;
}

.zs_table td.bg03 {
  background: #d4d4d4;
  color: blue;
}

.zs_table td.bg04 {
  background: #d4d4d4;
  color: red;
}

.zs_table tr:hover td,
.zs_table td.hover {
  background-color: #e2e2e2;
}
/*

.gray {background:#F3F2F2 url(../new/ball08.gif) no-repeat center; color:#D2B0B0;}

.gray2 {background:#F3F2F2 url(../new/ball08.gif) no-repeat center; color:#8ED9FC;}
*/

.boxxuhao {
  position: relative;
}
/* .boxcontent {position:absolute; width:993px; height:156px; *height:158px; border:solid #73BCEF 2px; left:-1px; *left:-598px; top:-160px; *top:-97px;} */
.boxcontent {
  position: absolute;
  width: 992px;
  height: 163px;
  *height: 163px;
  border: solid #73bcef 2px;
  left: 0px;
  top: 0px;
  _left: -498px;
  _top: 5px;
}



/* Í¼±íÔ¤ËãºÅÂëÍ¶×¢µ¯³ö²ã2009.5.31 j */
.jis_t {
  width: 575px;
}

.jis_t .j_top {
  height: 36px;
}

.jis_t .j_top_left {
  float: left;
  width: 10px;
  height: 36px;
}

.jis_t .j_top_title {
  float: left;
  width: 194px;
  height: 36px;
  text-indent: -9999px;
}

.jis_t .j_delete {
  float: left;
  padding-left: 325px;
  height: 36px;
}

.jis_t .j_top_right {
  float: right;
  width: 15px;
  height: 36px;
}

.jis_t .body {
  background: #f3f8fd;
}

.jis_t .body2 {
  background: #f3f8fd;
}

.jis_t .body .c_t {
  font-size: 14px;
  font-weight: bold;
}

.jis_t .alert_button_ty {
  width: 83px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  border: 0;
  padding-top: 1px;
  cursor: pointer;
}

.jis_t .j_bottom {
  height: 16px;
}

.jis_t .j_bottom_left {
  float: left;
  width: 10px;
  height: 16px;
}

.jis_t .j_bottom_right {
  float: right;
  width: 15px;
  height: 16px;
}

.jis_t .top {
  height: 21px;
  padding: 3px 3px 0px 8px;
}

.jis_t .top li {
  float: left;
}

.jis_t .ann {
  padding: 8px;
  margin-left: 120px;
  width: 300px;
}

.jis_t .ann1 {
  padding: 8px 0px 0px 20px;
  background: #eef3f6;
}

.jis_t .ann1 ul {
  clear: both;
}

.jis_t .ann1 li {
  margin-right: 5px;
  float: left;
}

.pp {
  padding: 0px 3px;
}

.table_list {
  margin: 5px auto 0 auto;
  width: 95%;
  line-height: 20px;
  text-align: center;
}

.fon2 {
  text-align: center;
  margin: 0 auto;
}

.table_list .trt {
  border: 1px solid #4183bf;
  line-height: 25px;
  padding: 1px 6px;
}

.table_list .t_bg {
  background: #fbeddb;
}

.table_list .trt1 {
  background: #e5f2f8;
  color: #1471ac;
}

.table_list .trt3 {
  background: #f2f2f2;
  color: #484848;
}

.table_list .trt4 {
  background: #f7f7f7;
  color: #484848;
}

.table_list .td_c {
  background: #eef3f6;
  color: #1471ac;
}

.table_list .intr {
  width: 100%;
  margin: 0 auto;
  background: #eceaf7;
  color: #6e6e6e;
  text-indent: 15px;
  padding: 3px 0;
  _padding: 5px 0;
}

.table_list .intr span {
  padding: 1px 0 1px 25px;
}

.table_list .blan {
  padding-left: 24px;
  text-align: left;
}

.xiugai_button {
  color: #0689e3;
  line-height: 22px;
  width: 101px;
  text-indent: 30px;
  float: left;
  cursor: pointer;
  text-align: left;
}

.c_blue {
  color: #0000ff;
}

.count_num {
  text-indent: 30px;
  line-height: 23px;
  margin: 0 auto;
  width: 84px;
  font-weight: bold;
}
/******ºÅÂëÑ¡Çø******/
.xh {
  margin: 0 0 10px 1px;
}

.rq {
  float: left;
  width: 310px;
}

.rq .ra {
  line-height: 25px;
  text-align: center;
  color: #ff0400;
  font-weight: bold;
}

.rq .redq {
  height: 90px;
}

.rq .redq ul {
  width: 308px;
  _width: 312px;
  margin: 0px auto;
}

.rq .redq_dlt ul {
  width: 340px;
  margin: 0px auto;
}

.rq .redq li {
  float: left;
  margin: 3px;
  width: 19px;
}

* + html .xh .rq .redq li {
  margin: 6px 3px;
}

.bq {
  float: left;
  width: 227px;
}

.bq_pls {
  margin-top: 10px;
}

.bq .ba {
  line-height: 25px;
  text-align: center;
  color: #006ddd;
  font-weight: bold;
}

.bq .blueq {
  height: 90px;
}

.bq .blueq ul {
  width: 225px;
  margin: 0px auto;
}

.bq .blueq li {
  float: left;
  margin: 3px;
  width: 19px;
}

.bq .blueq_dlt ul {
  width: 175px;
  margin: 0px auto;
}

.blueq_pls ul {
  width: 400px;
  margin: 10px auto 10px auto;
  border: solid #000 1px;
}

.bq .blueq  li {
  float: left;
  margin: 3px;
}

.bq_pls li {
  float: left;
  margin: 3px;
}

* + html .xh .bq .blueq  li {
  margin: 6px 3px;
}

.ball_r {
  height: 19px;
  width: 19px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: #464646;
  cursor: pointer;
  border: solid 1px;
  border-color: #ccc;
  background: #e9e9e9;
}

.ball_red {
  height: 19px;
  line-height: 19px;
  width: 19px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border: solid 1px;
  border-color: #fff;
  background: #ff9900;
}

.ball_blue {
  height: 19px;
  line-height: 19px;
  width: 19px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border: solid 1px;
  border-color: #fff;
  background: #245ae1;
}

/* Ê×Ò³ lila 2010-05-07*/
#container {
}

#footer { /*background:url(../info/public/footernew/footer_01.gif) repeat-x top;*/
}

.warp {
  margin: 0px auto;
  width: 1000px;
}

.warp a:visited,
.warp a:link {
  text-decoration: none;
}

.warp a:hover,
.warp a:active {
  text-decoration: underline;
}

.warpleft {
}

.warpleft a:visited,
.warpleft a:link {
  text-decoration: none;
}

.warpleft a:hover,
.warpleft a:active {
  text-decoration: underline;
}

/*µÇÂ¼Çø*/
.login01_box {
  height: 36px;
  overflow: hidden;
}

.login01_box .span_left {
  float: left;
  padding-top: 2px;
  line-height: 25px;
}

.login01_box .span_right {
  float: right;
  color: #b0d0e7;
  padding-top: 8px;
}

.login01_box .span_right a:link,
.login01_box .span_right a:visited {
  color: #999999;
  text-decoration: none;
}

.login01_box .span_right a:hover,
.login01_box .span_right a:active {
  color: #000000;
  text-decoration: underline;
}

.login01_box .input01 {
  height: 15px;
  border: #56a3dc 1px solid;
  font-size: 12px;
  color: 999999;
}
/*.login01_box a:visited,.warp a:link{text-decoration:none;}
.login01_box a:hover,.warp a:active{text-decoration:underline;}*/

/*LOGO²ÊÖÖµ¼º½*/
.logo {
  float: left;
  height: 58px;
  padding: 10px 0 0 0;
  width: 148px;
}

.nav_b_bg {
  height: 51px;
  padding: 10px 0 14px 0;
  _padding-bottom: 11px;
  line-height: 18px;
  margin-left: 250px;
}

.cai5 {
  float: left;
  width: 280px;
  height: 42px;
  border: 2px solid #dcedff;
  padding-top: 8px;
}

.cai6 {
  float: left;
  margin-left: 15px;
  width: 410px;
  height: 42px;
  border: 2px solid #dcedff;
  padding-top: 8px;
}

.nav_b_bg .tittle {
  width: 30px;
  padding-left: 40px;
  float: left;
}

.nav_b_bg .tittle a:visited,
.nav_cai_bg .tittle a:link {
  font-weight: bold;
  color: #f00;
}

.nav_b_bg .cp a {
  padding: 0 9px;
  display: inline-block;
  height: 20px;
}
/*·ÖÒ³µ¼º½*/
.d_nav01_1 .active {
}

.d_nav01_1 .active a:visited,
.d_nav01_1 .active a:link {
  color: #004d81;
}

.d_nav01_1 h2 {
  font: bold 12px/28px "";
  float: left;
  display: block;
  width: 100px;
  height: 28px;
  margin: 4px 30px 0 0;
  text-align: center;
  display: block;
}

.d_nav01_1 h2 a:visited,
.d_nav01_1 h2 a:link {
  color: #fff;
}
/*Î²*/
.footer_nav01 {
  border: 0;
}

.kong10 {
  clear: both;
}
/*ÁÐ±í*/
.r {
  float: right;
  width: 230px;
  overflow: hidden;
}

.sy {
  height: 640px;
}

.new_sy {
}

.zixun {
  margin-top: 10px;
  height: 190px;
  border: 1px solid #8bc0e7;
  float: left;
  overflow: hidden;
  width: 228px;
}

.zixun .tab li {
  float: right;
  margin-right: 2px;
  margin-top: 2px;
  text-align: center;
  width: 59px;
}

.zixun .tab1 {
  color: #fff;
  font-weight: bold;
  height: 32px;
  line-height: 30px;
}

.zixun .tab2 {
  height: 27px;
  line-height: 29px;
}

.zixun .list1 {
  clear: both;
  padding-left: 10px;
  padding-top: 3px;
}

.list1 li {
  zoom: 1;
}

.l {
  float: left;
  width: 728px;
  overflow: hidden;
}

.new_l {
  float: left;
}

.zs {
  border: 1px solid #8bc0e7;
  height: 633px;
}

.zs .con {
  border-top: 1px dotted #a6cfdd;
  padding: 15px 25px;
}

.new_zs {
  border: 1px solid #8bc0e7;
}

.new_zs .con {
  border-top: 1px dotted #a6cfdd;
  padding: 23px 25px;
  *padding: 16px 25px;
  _padding: 16px 25px;
}

.con h1 {
  display: block;
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
}

.con h1 a {
  display: block;
  width: 200px;
  height: 50px;
  text-indent: -99999px;
}

.flzs h1 {
  background-position: 0 -92px;
}

.tyzs h1 {
  background-position: -2px -150px;
}

.con ul {
  display: block;
  border: 2px solid #dcedff;
  padding: 15px;
}

.con ul li {
  padding: 0 0 3px 0;
  clear: both;
}

.con ul li a {
  width: 80px;
  display: block;
  float: left;
  height: 30px;
}

.con ul li .red_b a {
  width: 150px;
  font-weight: bold;
  color: #f00;
}

/*ÄÚÒ³µ¼º½ */
.d_nav03 {
  background-color: #f6fafe;
  border-bottom: 1px solid #c0dcf8;
  padding: 0 auto;
  height: 50px;
  line-height: 50px;
}

.d_nav01 .h1 {
  color: #004d81;
  float: left;
  font: bold 12px/28px"";
  height: 28px;
  line-height: 28px;
  margin-top: 4px;
  text-align: center;
  width: 68px;
}

.d_nav01 .h1 a:link,
.d_nav01 .h1 a:visited {
  color: #004d81;
  text-decoration: none;
}

.d_nav03 .f_right a.link_b:link,
.d_nav03  .f_right a.link_b:visited {
  color: #ff0000;
  font-weight: bold;
}
/*ÄÚÒ³ÄÚÈÝ*/
.neiye {
  background: #f5f5f5;
  height: 200px;
}
/*Ãæ°üÐ¼*/
.bread {
  border: #b0d0e7 1px solid;
  height: 28px;
  line-height: 28px;
  margin-bottom: 10px;
  padding-left: 30px;
}

.bread .b {
  font-weight: bold;
  padding: 0px 10px;
}
/*×îÐÂ¿ª½±*/
.sfc_kj_box {
  border: #b0d0e7 1px solid;
  float: left;
  width: 566px;
  margin-top: 10px;
}

.sfc_kj_box .t01 {
  height: 28px;
  border-bottom: #fff 1px solid;
}

.sfc_kj_box .t01 h1 {
  float: left;
  height: 23px;
  padding: 5px 10px 0px 20px;
  font-size: 14px;
  font-weight: bold;
}

.sfc_kj_box .t01 .midimg {
  float: left;
  width: 26px;
  height: 28px;
  margin-right: 30px;
}

.sfc_kj_box .c01 {
}

.kjtt {
  text-align: center;
  font-weight: bold;
  color: #5097bc;
  height: 25px;
}

.kjnr {
  text-align: center;
  border-bottom: 1px dotted #94c5e8;
  line-height: 25px;
}

.red_b {
  color: #f00;
  font-weight: bold;
}

.blue_b {
  font-weight: bold;
}
/*²ÊÆ±×ÊÑ¶*/
.j_r_box {
  float: left;
  border: #b0d0e7 solid 1px;
  margin-left: 10px;
  width: 388px;
  overflow: hidden;
  height: 135px;
  margin-top: 10px;
}

.j_r_box .title {
  height: 26px;
  line-height: 26px;
}

.j_r_box .title h1 {
  float: left;
  font-size: 14px;
}

.j_r_box .j_kjgg .title h1 {
  color: #ff0000;
  padding-left: 34px;
}

.j_r_box .title .more {
  float: right;
  font-size: 12px;
  font-weight: normal;
  margin-right: 10px;
}

.j_r_box .j_paihang .title h1 {
  padding-left: 20px;
}

.j_r_box .list2 li .date {
  padding-right: 10px;
}

.j_r_box .list2 li {
  background: none;
}

.j_r_box .list2 li.line {
}

.kjxq_bq01 {
}

.kjxq_bq01 li {
  float: left;
  width: 54px;
  height: 18px;
  margin-left: 3px;
  line-height: 18px;
  text-align: center;
  cursor: hand;
}

.kjxq_bq01 .li_01 {
  background-color: #5b9ee1;
  border: #4e96de 1px solid;
  color: #ffffff;
  border-bottom: 0px;
}

.kjxq_bq01 .li_01 a:link,
.kjxq_bq01 .li_01 a:visited {
  color: #ffffff;
  text-decoration: none;
}

.kjxq_bq01 .li_02 {
  background-color: #ebf4fd;
  border: #c2def3 1px solid;
  border-bottom: 0px;
}

.hot_news01 h1 a {
  color: #ff0000;
  text-decoration: none;
}

.hot_news01 h1 {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 8px;
  text-align: center;
}
/*×ßÊÆÁÐ±í*/
.zoushi {
  width: 966px;
  border: #b0d0e7 solid 1px;
  clear: both;
  border-top: 0;
}

.zoushi .tt {
  height: 50px;
}

.zoushi .tt h2 a {
  display: block;
  width: 170px;
  height: 40px;
  float: left;
  margin-left: 10px;
  margin-top: 4px;
  text-indent: -99999px;
}

.zoushi .tt .bot a {
  display: block;
  text-indent: -99999px;
  float: right;
  width: 82px;
  height: 21px;
  margin: 14px 10px;
}

.zoushi .tt .bot a:hover {
}

.zoushi .tt h2.ssqt a {
  background-position: 0 -73px;
}

.zoushi .tt h2.fc3dt a {
  background-position: 0 -113px;
}

.contner {
  padding: 15px;
  overflow: hidden;
  width: 936px;
  border-bottom: 1px dotted #94c5e8;
}

.contner .pic {
  float: left;
  width: 120px;
}

.contner .pp {
  float: left;
  width: 780px;
  margin-left: 20px;
}

.contner h3 {
  font: bold 14px/18px "";
  text-align: center;
}

.contner h3 a:link,
.contner h3 a:visited {
  color: #f00;
}

.bigred {
  float: left;
  width: 80px;
  font-weight: bold;
}

.nom {
  float: left;
  width: 690px;
  padding-left: 10px;
}

.contner .pp ul {
  width: 780px;
  line-height: 24px;
}

.hot {
  padding-right: 25px;
}

/*×îÐÂ¿ª½± lila20100517*/
.titlebar1 h3 {
  font-size: 14px;
  padding-left: 15px;
  padding-top: 2px;
  color: #000;
  float: left;
  margin: 5px 0 0 8px;
  _margin-left: 4px;
  line-height: 16px;
}
/*ÍøÕ¾ÌáÐÑ*/
/*.remind{ width:950px; margin:10px auto;text-align:center;}*/
.remind {
  width: 950px;
  padding: 10px;
  text-align: center;
}
/*Í¼±ê¼ÓµÇÂ¼°´Å¥ 2011.5.31 m*/
.tubiao_loginBtn {
  text-align: center;
  clear: both;
}

/*×¢²áÓÅ»¯ 6-24 liut */
.btn_zc,
a.btn_zc,
a.btn_zc:hover {
  height: 30px;
  width: 210px;
  overflow: hidden;
  display: inline-block;
}

.btn_xzc,
a.btn_xzc,
a.btn_xzc:hover {
  cursor: pointer;
  height: 30px;
  line-height: 32px;
  padding-left: 15px;
  text-decoration: none;
  display: inline-block;
}

.btn_xzc span {
  color: #da4901;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 32px;
  padding-right: 15px;
  display: inline-block;
}
/* Ñ¡ºÃÇø */
.xhq td {
  height: 44px;
  border-right: 1px solid #f3f2f2;
  background: #fff;
  vertical-align: middle;
  text-align: center;
}

.xhq td.bgc-y {
  background: #ffffe8;
}

.ball-b,
.ball-s,
.xh-tj,
.xhlb-on {
  cursor: pointer;
}

.xhlb {
  padding-left: 16px;
}

.xhlb-on {
  background-position: 0 -144px;
}

.ball-b {
  display: inline-block;
  height: 24px;
  width: 24px;
  font: 700 12px/24px tahoma;
  background-position: 0 0;
}

.ball-b-on {
  background-position: 0 -25px;
}

.ball-b-se {
  background-position: 0 -50px;
  color: #fff;
}

.ball-s {
  display: inline-block;
  width: 16px;
  height: 18px;
  font: 700 10px/18px tahoma;
  background-position: 0 -75px;
  -webkit-text-size-adjust: none;
}

.ball-s-on {
  background-position: 0 -94px;
}

.ball-s-se {
  background-position: 0 -113px;
  color: #fff;
}

.zs_table .xh-se {
  display: inline-block;
  width: 64px;
  height: 18px;
  padding-top: 4px;
  margin-right: 10px;
  padding-left: 10px;
  text-align: left;
  background: #ebebeb;
  border: 1px solid #dfdfdf;
  color: #333333;
  position: relative;
  cursor: pointer;
}

.xh-se .i-down {
  margin-left: 10px;
}

.xh-se .xh-con {
  position: absolute;
  left: -1px;
  top: 22px;
  width: 64px;
  padding-left: 10px;
  border: 1px solid #dfdfdf;
  border-top: 0;
  background: #ebebeb;
  display: none;
}

.xh-se .xh-con a {
  display: block;
  font: 12px/22px simsun;
  color: #333;
}

.qrq td {
  height: 76px;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-width: 1px 0;
  vertical-align: middle;
  text-align: left;
}

.qrq .inner {
  height: 68px;
  padding-top: 8px;
  overflow: hidden;
  padding-right: 12px;
}

.qrq .xh-tj {
  float: left;
  line-height: 22px;
  padding-left: 24px;
  padding-right: 10px;
  border: 1px solid #fff;
  background-color: #fff;
  background-position: 6px -166px;
}

.qrq .xh-tj-on,
.qrq .xh-tj:hover {
  border: 1px solid #dfdfdf;
  background-color: #f3f5f7;
}

.qrq .jz {
  line-height: 58px;
  font-size: 14px;
  margin-left: 110px;
}

.qrq .tz {
  float: right;
  margin-top: 10px;
}

.i-down,
.i-up {
  display: inline-block;
  width: 0;
  height: 0;
  line-height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: #000 #ebebeb #ebebeb;
  overflow: hidden;
}

.i-up {
  border-color: #ebebeb #ebebeb #000;
}

.xh-btn,
.xh-btn-no {
  display: inline-block;
  width: 137px;
  height: 38px;
  margin-left: 10px;
  line-height: 9999px;
  overflow: hidden;
  vertical-align: middle;
}

.xh-btn-no {
  background-position: 0 -39px;
}

/* ÊÖ»ú¿Í»§¶Ë¸¡¶¯²ã */
.show_sj {
  width: 34px;
  height: 186px;
  border: 1px solid #79c1f3;
  position: absolute;
  right: 58px;
  top: 175px;
  margin-top: -93px;
  overflow: hidden;
  background-color: #fff;
  z-index: 999;
}

.show_sj_r,
.show_sj_raw,
.show_sj_fs,
.show_sj_android,
.show_sj_iphone {
}

.show_sj_r {
  width: 14px;
  height: 186px;
  line-height: 16px;
  background-color: #ebf5ff;
  display: block;
  font-size: 14px;
  font-family: microsoft yahei;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  cursor: pointer;
  background-position: -34px 166px;
}

.show_sj_r.sj_r {
  background-position: -72px 166px;
  background-color: #f5faff;
}

.show_sj_raw {
  display: block;
  height: 30px;
  background-position: -8px 4px;
}

.show_sj_h3 {
  padding: 8px 0 8px 18px;
  color: #666;
  font-size: 14px;
}

.show_sj_c {
  width: 312px;
  height: 97px;
  background: #f7f7f7;
  padding: 10px 20px;
  overflow: hidden;
  margin-left: 18px;
}

.show_sj_p1 {
  float: left;
  width: 165px;
  border-right: 1px solid #e6e6e6;
  height: 97px;
}

.show_sj_p2 {
  float: right;
  width: 120px;
  padding-left: 24px;
}

.show_sj_c .gray {
  color: #999;
  background: none;
  padding-bottom: 8px;
  display: block;
}

.show_sj_text {
  height: 22px;
  line-height: 22px;
  border: 1px solid #bbb;
  width: 138px;
  float: left;
  font-size: 12px;
  padding-left: 4px;
  color: #b4b4b4;
  margin-bottom: 10px;
}

.show_sj_fs,
.show_sj_android,
.show_sj_iphone {
  width: 99px;
  height: 30px;
  border: none;
  background-position: 0 -40px;
  cursor: pointer;
}

.show_sj_android {
  width: 94px;
  background-position: 0 -70px;
  margin-bottom: 8px;
}

.show_sj_iphone {
  width: 94px;
  background-position: 0 -100px;
}

.show_sj_a {
  padding: 8px 0 8px 18px;
  display: block;
}

.show_sj_p1 b {
  display: inline-block;
  float: right;
  color: #999;
  font-weight: 400;
  margin-right: 8px;
  max-width: 66px;
  overflow: hidden;
  white-space: nowrap;
}

/* Í¼±íÐÂÔöSEO¹Ø¼ü´Ê */
.chartKeyword {
  background: #f6f6f6;
  border: #f1f1f1 solid 1px;
  margin-top: 10px;
  padding: 10px 20px;
  color: #999;
  line-height: 22px;
  width: 958px;
  margin: 0 auto;
}

.chartKeyword a {
  color: #999;
}

.chartKeyword a:hover {
  color: #ff3300;
}

.chartKeyword_intro {
  margin-bottom: 10px;
}

.chartKeyword_title {
  font-weight: bold;
}

.chartKeyword_news {
  zoom: 1;
}

.chartKeyword_news:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
}

.chartKeyword_news .l,
.chartKeyword_news .r {
  width: 48%;
}

.chartKeyword_news li {
  float: left;
  width: 200px;
  margin-right: 20px;
  overflow: hidden;
  height: 22px;
}

.tit-fixed {
  position: fixed;
  z-index: 999;
  top: 0;
}


/*Í¼±íÐÂµ¼º½ start*/
.subnav {
  text-align: center;
  height: 70px;
  border-bottom: 1px solid #eee;
}

.subnav-in {
  width: 1000px;
  margin: 0 auto;
  padding-top: 11px;
}

.subnav-itm {
  float: left;
  border-right: 1px solid #e7e7e7;
  height: 48px;
  text-align: left;
}

.subnav-itm01 {
  width: 210px;
}

.subnav-itm02 {
  width: 285px;
  padding-left: 20px;
}

.subnav-itm03 {
  width: 326px;
  padding-left: 20px;
}

.subnav-itm .ico {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 42px;
  height: 48px;
  float: left;
  margin-right: 12px;
}

.subnav-itm .ico-fc {
  background-position: 2px 11px;
}

.subnav-itm .ico-tc {
  background-position: -44px 9px;
}

.subnav-itm .ico-gp {
  background-position: -94px 9px;
}

.subnav-itm a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  margin: 0 6px 2px 6px;
  font-size: 14px;
  color: #555;
}

.subnav-itm a:hover {
  background: #cde2f8;
}

.subnav-itm a.on {
  background: #1d7cde;
  color: #fff;
}

.subnav-back {
  float: right;
  height: 48px;
}

.subnav-back a {
  font-size: 14px;
  color: #999;
  display: block;
  margin-top: 15px;
  text-align: right;
}

.subnav-back a:hover {
  color: #ef5b51;
}

.menu-wrap {
  text-align: center;
  height: 34px;
}

.menu-in {
  width: 1000px;
  margin: 0 auto;
}

.menu {
  height: 33px;
  border-bottom: 1px solid #e3e3e3;
}

.menu li {
  float: left;
  width: 100px;
  height: 32px;
}

.menu li h2 {
  height: 25px;
  padding-top: 7px;
  border-top: 1px solid #e3e3e3;
  background: #fff;
}

.menu .on h2 {
  border-top: 2px solid #2d93fe;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  margin-left: -1px;
}

.menu .menu-first h2 {
  border-left: 1px solid #e3e3e3;
  margin-left: 0;
}

.menu .menu-last h2 {
  border-right: 1px solid #e3e3e3;
}

.menu li a {
  font-size: 14px;
  color: #666;
  border-right: 1px solid #e3e3e3;
  display: block;
  width: 99px;
  height: 18px;
  line-height: 18px;
}

.menu .menu-first a {
  width: 98px;
}

.menu li a:hover {
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

.menu .on a {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  width: 99px;
}

.submenu-wrap {
  text-align: center;
  clear: both;
}

.submenu {
  width: 986px;
  margin: 0 auto;
  text-align: left;
  border: 1px solid #e3e3e3;
  border-top: 0;
  line-height: 35px;
  padding-left: 12px;
  color: #ccc;
  font-family: "ËÎÌå";
  font-size: 12px;
}

.submenu a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: #777;
}

.submenu a:hover {
  color: #f00;
}

.submenu .link_b {
  font-weight: bold;
  color: #1d7cde;
}

.cfont1 {
  color: #ff0000;
  font-weight: bold;
}
/*Í¼±íÐÂµ¼º½ end*/

.head-adds {
  position: absolute;
  width: 600px;
  height: 80px;
  top: 35px;
  left: 50%;
  margin-left: -300px;
}

.head-adds img {
  display: inline-block;
  width: 600px;
  height: 80px;
}